body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

#map {
  width: 100vw;
  height: 100vh; /* full screen by default */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  #map {
    width: 100vw;
    height: 65vw;
  }
}

.mapboxgl-popup-content img {
  height: 100px;
}

.mapboxgl-popup-content strong{
  text-decoration: none;
  font-size: 18px;
}